/*  commons  */

.header {
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vw;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.591); */
  /* top: 20vw; */
  padding-top: 12.3vw;
}

.line1 {
  color: white;
  font-size: 1.2vw;
  font-weight: 300;
}

.alignCenter {
  text-align: center;
}

.head1 {
  font-size: 5vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.head2 {
  font-size: 2.5vw;
  font-weight: 700;
  color: black;
}

.normal {
  font-weight: 300;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: white;
  width: 100%;
  height: auto;
}

/*  cards specific */
.bloglgCard {
  display: flex;
  gap: 2vw;
  align-self: center;
  /* background-color: red; */
  background-color: var(--button-color);
  width: 82.7%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  align-items: center;
}

.postItem {
  flex-direction: column;
  display: flex;
  gap: 2vw;
  align-self: center;
  width: 25%;
  height: auto;
  margin-bottom: 1vw;
}

.featuredContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  color: black;
  font-weight: 700;
  font-size: 1vw;
  border-bottom: 0.2vw solid #9b86fe;
}

.btnPrimary {
  color: white;
  border: 0.15vw solid #ff88c3;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0.7vw;
  font-weight: bold;
  width: 10vw;
  font-size: 1vw;
}

.serviceText1 {
  font-size: 1.1vw;
  color: rgb(0, 0, 0);
  line-height: 1.8vw;
}
.serviceText2 {
  font-size: 1vw;
  color: rgb(0, 0, 0);
  line-height: 1.8vw;
}

.postsContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
  align-self: center;
}

.cardWidth {
  width: 65%;
}
.cardImage {
  width: 67vw;
  height: auto;
}

.postImage {
  width: 35vw;
  height: auto;
}

.head3 {
  font-size: 1.4vw;
  font-weight: 700;
  color: black;
}
.headerImage{
  width: 100vw;
  height: auto;
}

.blogContainer{
  display: flex;
flex-direction: column;
width: 99vw;
}
@media screen and (max-width: 870px) {
  .blogContainer{
  width: 100vw;
  }
  .postImage {
    width: 100%;
  }

  .cardImage {
    width: 100%;
  }
  .bloglgCard {
    flex-direction: column;
    align-items: center;
  }

  .postItem {
    width: 70%;
    align-items: center;
  }

  .head1 {
    font-size: 8vw;
  }

  .head2 {
    font-size: 4.5vw;
  }

  .head3 {
    font-size: 4vw;
  }
  .btn {
    font-size: 3vw;
  }

  .serviceText1 {
    font-size: 2.8vw;
    line-height: 5vw;
  }
  .cardWidth {
    width: 100%;
  }

  .serviceText2 {
    font-size: 2.6vw;
    line-height: normal;
    display: none;
  }

  .btnPrimary {
    padding-top: 1.7vw;
    padding-bottom: 1.7vw;
    border-radius: 1.2vw;
    width: 26vw;
    font-size: 3vw;
  }

  .headerImage{
    height: 70vw;

  }

  .header{
    height: 60vw;
    align-content: center;

  }
}
